/* proprietà intestazione  */
.pattern{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(79, 173, 231);
}

.logo{
    height: 70px;
    padding-top: 75px;
}

.autore{
    color: lightgrey;
}

#marker{
    color: lightskyblue;
}
/* / proprietà intestazione */


#data{
    font-size: 13px;
}

.descrizione{
    font-size: 10px;
}

.evidenziatore{
    background-color: yellow;
}
/* proprietà tabella  */
.colore-head{
    background-color: rgb(52, 173, 248);
    color: white;
}

#margini{
    text-align: left;
    border-spacing: 0;
    width: 100%;
    height: auto;
    table-layout: fixed;
}

.riga-evidenziata{
    background-color: rgb(160, 217, 252);
}
/* /proprietà tabella */

/* proprietà ultima sezione */
#monitor{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 300px;
    color: white;
}

.titolo{
    padding-top: 15px;
    padding-left: 15px;
}

#grafico{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 300px;
    color: white;
}   
/* /proprietà ultima sezione  */